.edit_product_modal, .edit_product_modal_overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    overflow-y: auto;
}

.edit_product_modal_overlay{
    background: rgba(49,49,49,0.8);

}

.edit_product_modal_contents {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    margin-top: 25%;
    border-radius: 3px;
    width: 70%;
}

.edit_product_modal_title {
    text-align: center
;}