
.navbar {
    display: flex;
    background-color: rgb(95, 93, 93);
    align-items: center;
    height: 40px;
    position: sticky;
    top: 60px;
    z-index: 1;
}

.navbar_option {
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-size: 18px;
    padding-left: 40px;
    padding-right: 40px;
    text-decoration: none;

}

.navbar_link:hover {
    color:rgb(213, 211, 220)
}

.navbar_link {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}
