.product_card {
    display: flex;
    flex-direction: row;
    height: 200px;
    border: 1px;
    border-color: grey;
    border-style: solid;
    border-radius: 10px;
    width: 100%;
    margin-top: 1%;
}

.product_image {
    padding-right: 5px;
    width: 30%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.product_info {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.product_card_title {
    font-size: 20px;
    text-align: left;
    margin-left: 4%;
    margin-top: 10px;
    width: 100%;
}

.product_stats {
    display: flex;
    flex-direction: column;
}

.product_stats_row {
    display: flex;
    flex-direction: row;
    padding-top: 2%;
    justify-content: left;
}

.product_stats_price {
    padding-top: 2%;
}

.product_stats_available {
    padding-top: 2%;
}

.product_stats_row_item {
    width: 30%;
    margin-left: 5%;
}

.product_stats_row_item1 {
    font-size: 13px;
    font-weight: 800;
}

.product_stats_row_item2 {    
    font-size: 13px;
}