
.product_inputPair {
    display: flex;
    text-align: left;
    width: 50%;
    margin-top: 15px;
    margin-left: 25%;
}

.product_inputLabel {
    width: 25%;
}

.product_inputValue {
    margin-left: 5%;
    width: 65%;
}

.product_submit {
    align-items: center;
    margin-left: 50%;
    margin-bottom: 20px;
    margin-top: 10px;
}