.search_criteria {
    border-color: black;
    border-style: solid;
    border-width: 1.5px;
    border-top-right-radius: 10px;
    font-size: 20px;
    width: 20%;
    margin-top: 10px;
}
.seach_page_checkbox {
    margin-top: 20px;
    font-size: 17px;
}