.search_criteria {
    border-color: black;
    border-top: 1.5px;
    border-right: 1.5px;
    border-left: 0;
    border-bottom: 0;
    border-style: solid;
    border-top-right-radius: 10px;
    font-size: 20px;
    width: 15%;
    margin-top: 10px;
}
.seach_page_checkbox {
    margin-top: 20px;
    font-size: 17px;
    margin-left: 5px;
}