.search_criteria {
    border-color: black;
    border-top: 1.5px;
    border-right: 1.5px;
    border-left: 0;
    border-bottom: 0;
    border-style: solid;
    border-top-right-radius: 10px;
    font-size: 20px;
    margin-top: 10px;
    height: 100%;
}

.search_criteria_category {
    margin-top: 2%;
    margin-bottom: 15%;
    margin-left: 2%;
}

.search_criteria_label{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 2%;
}

.search_criteria_checkbox {
    margin-left: 5px;
    margin-bottom: 10%;
    font-size: 15px;
}