.login-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
  }
  
  .sellerlogin {
    width: 450px;
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;
  }

.seller_header {
  text-align: center;
  margin-bottom: 20px;
}

  .seller_submit {
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .seller_field {
    margin-bottom: 20px;
  }