.addproduct {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 10px 55px 10px 0px;
    border-radius: 15px;
    transition: all .3s;
}

.product_title {
    text-align: center;
    margin-top: 10px;
    font-size: 22px;
}

.product_inputPair {
    display: flex;
    text-align: left;
    width: 50%;
    margin-top: 15px;
    margin-left: 25%;
}

.product_inputLabel {
    width: 25%;
}

.product_inputValue {

}

.product_checkboxLabel {
    text-align: left;
    width: 60%;
}

.product_submit {
    align-items: center;
    margin-left: 50%;
    margin-bottom: 20px;
    margin-top: 10px;
}