.search_page {
    display: flex;
    flex-direction: row;
}

.search_page_products {
    width: 65%;
    margin-left: 10%;
    justify-content: right;
    justify-items: right;
}

.seach_page_products_item {
    height: auto;
    padding-bottom: 10px;
    margin-bottom: 10px;
}