.trays_page {
    display: flex;
    flex-direction: row;
}

.trays_search_criteria {
    border-color: black;
    border-style: solid;
    border-width: 1.5px;
    font-size: 20px;
    width: 20%;
}

.trays_page_products {
    width: 70%;
    padding-left: 10px;
    justify-content: right;
    justify-items: right;
}

.trays_page_products_item {
    height: auto;
    padding-bottom: 10px;
    margin-bottom: 10px;
}